*{margin: 0px;box-sizing: border-box; }
html
{
	background-color: rgb(3, 23, 34);
}
body
{
	background-color: rgba(370, 203, 234, 1.0);
	width: 50vw;
	margin: 10vw 30%;
	padding: 10px;
}

header 
{
	
}

nav
{

}

main
{
	display: flex;
	width: 100%;
	position: relative;

}

section {
	background-color: ;
	width: 50%;
}

label
{
	display: block;
}

aside
{

	width: 40%;
}

table
{
	position: relative;
	display: ;
}

th {
	padding: 2px 0.9vw;
}

thead {color: green;}
tfoot {color: red;}

